.home {
  & .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-gap: 1rem;
    margin-top: 2rem;

    & img {
      max-width: 100%;
      display: block;
      border-radius: 0.125rem;
      transition: transform 100ms ease-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  & .pagination {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    
    & > * {
      display: flex;
      padding: 0.5rem;
    }

    & > span {
      opacity: 0.3;
    }
  }
}
