.video-details {
  max-width: var(--maxWidth);
  margin: 0 auto;

  & > div {
    padding: 2rem 2rem 5rem 2rem;
  }

  & video {
    width: 100%;
    display: flex;
  }

  & .models {
    color: var(--whiteDarker);
  }

  & .specs {
    justify-content: space-between;
    font-size: 0.8rem;

    & span {
      color: var(--mainLighter);
    }
  }

  & .purchase-options {
    margin-top: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;

    & div {
      margin: 1rem auto 0 auto;
    }
  }
}
