.warning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 5rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);

  & .actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & button {
      margin-bottom: 1rem;
    }
  }

  & aside {
    margin-top: 3rem;
    font-size: 0.9rem;
    color: var(--grey);

    & a {
      font-weight: 800;
    }
  }
}