h1, h2, h3, h4 {
  font-weight: 800;
  margin: 0 0 1rem 0;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: var(--contrasting2);
}

h1 {
  font-size: 2rem;

  & small {
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.205rem;
  }
}

p {
  margin: 0 0 1rem 0;
}

a {
  color: var(--main);
  text-decoration: none;
  font-weight: inherit;
  transition: all 100ms ease-out;

  &:hover {
    color: var(--mainLighter);
  }
}
