---
title: Admin
permalink: /admin/
bodyClass: models admin
noindex: true
eleventyExcludeFromCollections: true
---
{% from "partials/admin-counts.njk" import counts %}
<h2>All models</h2>
<p class="intro">Every model's videos and galleries, the permanent collection (PC) included. Videos that aren't on the site are listed too.</p>

<ul>
  {% for model in admin.models %}
  <li style="--x: {{ model.picX }}; --y: {{ model.picY }}">
    <a href="/admin/{{ model.slug }}/" class="avatar" aria-hidden="true" tabindex="-1"></a>
    <a href="/admin/{{ model.slug }}/" class="name"><span>{{ model.name }}</span></a>
    {{ counts(model.counts) }}
  </li>
  {% endfor %}
</ul>
